################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PPAttendanceSystem
/.vs/config
/packages
/.vs/AttendanceApp/v15
